@import "custom";
@import "~bootstrap/scss/bootstrap";
@import "~datatables.net-bs5/css/dataTables.bootstrap5.css";

*{
	margin:0;
	padding:0;
}

#registration_form__token[type="hidden"]:disabled {
	background: #ccc;
}

.html{
	height:100%;
}

body{
	text-align:center;
}

h1{
	text-shadow:0 2px 0 #070707, 0 -2px 0 #000000;
}

.main{
	min-height:100%;
	position:relative;
	padding-top: 7%;
}
	
footer{
	position:absolute;
	bottom:0;
	width:100%;
}

.fond {
	background-image: url("../styles/images/2.addb66c6.jpg");
	background-repeat: no-repeat;
	width: 100%;
  height: auto;
}

@media all and (max-width: 197px) {
	.footer{
		position:relative;
	}
}

@media all and (max-width: 992px) {

	.dropdown-menu .submenu{ 
		display: none;
	
		bottom:100%; top: 25px;
	}
	.dropdown-menu .submenu-buttom{ 
		right:100%; bottom:auto;
	}
	
	.dropdown-menu > li:hover > .submenu{ background-color: $dark }
	.dropdown-menu > li:hover > .submenu{
		display: block;
	}

	.footer1{
		display: none;
	}
}


@media all and (min-width: 992px) {

	.dropdown-menu li{
		position: relative;
	}
	.dropdown-menu .submenu{ 
		display: none;
		position: absolute;
		left:100%; top:0px;
	}

	.dropdown-menu > li:hover > .submenu{ background-color: $dark }
	.dropdown-menu > li:hover > .submenu{
		display: block;
	}

}	
